.input_error {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(244, 92, 32, 0.5) !important;
}
.form_error {
  width: 100%;
  text-align: right;
  color: rgb(244, 92, 32);
  font-weight: bolder;
  font-size: 12px;
  padding: 4px;
}
